@font-face {
  font-family: Manrope;
  src: url(../font/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: Acme;
  src: url(../font/Acme-Regular.ttf);
}

@font-face {
  font-family: AnekBangla;
  src: url(../font/AnekBangla-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: B612 Mono;
  src: url(../font/B612Mono-Bold.ttf);
}

/* ! Allgemeine Stylings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Manrope, Arial, sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 100vw;
  margin: 0 auto;
  /* background-color: grey; */
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(4rem, 4vw, 6rem);
  line-height: 6rem;
  font-weight: 800;

  margin-bottom: 2rem;
}

h2 {
  font-size: clamp(3rem, 3.5vw, 4rem);
  line-height: 5rem;
  font-weight: 800;

  margin-bottom: 2rem;
}

h3 {
  font-family: Acme, Arial, Helvetica, serif;
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  line-height: 2.8rem;

  margin-bottom: 2rem;
}

h4 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h5 {
  font-size: clamp(2rem, 2.5vw, 2.4rem);
  line-height: 2.8rem;
  font-weight: 600;

  margin-bottom: 2rem;
}

h6 {
  font-family: AnekBangla;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  line-height: 2.6rem;
  color: #f57059;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

p,
li {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 3.5rem;
  color: #757095;

  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: clamp(1.2rem, 1.8vw, 1.4rem);

  margin-bottom: 1rem;
}

.button-orange {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  line-height: 3rem;

  text-align: center;
  color: white;
  background-color: #f57059;

  padding: 1.5rem 4rem;

  border-radius: 30px;

  display: inline-block;
  margin: 1rem 5rem 6rem 0;
}

.button-green {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  line-height: 2.5rem;

  text-align: center;
  color: white;
  background-color: #05796b;

  padding: 15px 40px;

  border-radius: 30px;

  box-shadow: 0 30px 100px #05796cca;

  display: inline-block;
  margin: 1rem 0 6rem 0;
}

.große-Bilder {
  object-fit: contain;
  width: 50%;
}

/* ! Section 1: Header */
header {
  padding: 0 3rem;
  margin-bottom: 10rem;
  background: linear-gradient(45deg, white 60%, rgba(15, 209, 186, 0.21) 100%);
}

/* ! Navigationsleiste */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5rem 0;
}

nav p {
  font-family: AnekBangla;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: -3%;
  padding-top: 1rem;
}

nav a {
  color: black;
  padding: 0 3rem;
  font-weight: 600;
}

.arrow::after {
  content: url(../img/Pfeilnachunten.svg);
  padding-left: 1rem;
}

nav .button-orange {
  font-size: clamp(1.2rem, 1.8vw, 1.4rem);
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
}

/* ! Text und Bild */
.header-flex {
  display: flex;
}

.header-flex article {
  width: 50%;
}

.header-flex article p {
  width: 90%;
}

.success {
  display: flex;
}

.success p {
  color: #8593a3;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.5rem;
}

/* ! Main Bereich */
main {
  margin: 0 3rem 6rem 3rem;
}

/* ! Section 2: Partner-Businesses */
.partner {
  margin-bottom: 10rem;
}

.partner p {
  font-family: Acme, Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 2.2vw, 2.2rem);

  color: black;
  text-align: center;

  margin-bottom: 3rem;
}

.partner div {
  text-align: center;
}

.partner img {
  margin: 1rem 2rem;
  height: 2.2rem;
}

/* ! Section 3: Services */
.services {
  text-align: center;

  background: url(../img/Spirale.png) right no-repeat;
  background-size: contain;

  margin-bottom: 10rem;
}

.services h2 {
  width: 60%;
  margin: 0 auto;
}

.services h6 {
  color: black;
}

.services h2:last-of-type {
  margin-bottom: 5rem;
}

/* ? Karten griden */
.services article {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.services div {
  text-align: left;
  background-color: white;

  border: 1px solid #e7e7e7;
  border-radius: 1rem;

  padding: 5rem 6rem 1rem 4rem;
}

.services img {
  margin-bottom: 2rem;
}

.services p {
  font-size: 1.2rem;
}

.services div:nth-of-type(8) {
  background-color: #05796b;
  color: white;
}

.services div:nth-of-type(8) p {
  color: white;
}

/* ! Section 4: Learn More about Process */
.process {
  text-align: center;
  margin: 10rem;
}

.process p:last-of-type {
  margin-bottom: 7rem;
}

/* ? Kacheln gridden */
.process article {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.process h3 {
  font-family: Manrope, Arial, sans-serif;
}

.process img {
  margin-bottom: 3rem;
}

.strich {
  justify-self: center;
  padding: 8rem 0;
}

/* # Alternative für das erste Bild finden? */
/* ? 1. Variante mit Bild im CSS vergrößert und mit minus-margin - unelegant, sieht aber am besten aus?   */
.bildeins img {
  margin-top: -20px;
  transform: scale(1.5);
}

.bildeins h3 {
  margin-top: -20px;
}

/* ? 3. Variante mit 1 als p und Bild als Hintergrundbild */
/* .bildeins {
  background: url(../img/bildeins.png) top center no-repeat;
  background-size: contain;
}

.number {
  font-family: B612 Mono;
  font-size: 1.5rem;
  background-color: #f6f6f7;
  border-radius: 50%;
  width: 3rem;
  color: black;

  margin-bottom: 12rem;
} */

/* ! Section 5: Download */
.download {
  margin-bottom: 5rem;
}

.download article {
  text-align: center;

  width: 60%;
  margin: 0 auto 5rem auto;
}

.download a img {
  vertical-align: text-bottom;
  margin-right: 10px;
  width: 25px;
}

/* ? Bild und Text flexen */
.download section {
  display: flex;
}

.download section div {
  padding: 20rem 17rem 0 0;
}

/* ! Section 6: Start today + Plans */
.plans-heading {
  text-align: center;
  margin-bottom: 5rem;

  width: 60%;
  margin: 0 auto 5rem auto;
}

/* ? Karten flexen */
.plans {
  background: url(../img/spirale2.png) center no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  gap: 3rem;

  margin-bottom: 10rem;
}

/* ? übergreifendes Styling für beide Karten */
.plans div {
  border-radius: 1rem;
  width: 40rem;
  padding: 3rem;
}

.plans div p:first-of-type {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.plans div h2 {
  font-size: 6rem;
}

.plans div p:nth-of-type(2) {
  margin-bottom: 3rem;
}

.plans ul {
  padding-left: 3rem;
  padding-top: 3rem;

  list-style: none;

  margin-bottom: 3rem;
}

.plans li {
  padding-left: 1rem;
}

/* ? Styling für Basic Plan */
.plan1 {
  background-color: white;

  box-shadow: 0 0 20px rgb(226, 225, 225);
}

.plan1 span {
  font-size: 1.6rem;
  color: #8593a3;
}

.plan1 ul {
  border-top: 1px solid #8593a34d;
}

.no {
  color: #8593a3;
}

.yes-green::before {
  content: url(../img/plan-yes-green.svg);
  position: relative;
  top: 0.3vw;
  left: -1.5vw;
  margin: 0 -1.5rem;
}

.no::before {
  content: url(../img/plan-no.svg);
  position: relative;
  top: 0.3vw;
  left: -1.5vw;
  margin: 0 -1.5rem;
}

.plan1 a {
  color: #8593a3;
  text-align: center;
  border: 1px solid #8593a353;
  border-radius: 3rem;
  display: inline-block;
  width: 100%;
  padding: 1.5rem;
}

/* ? Styling für Premium Plan */
.plan2 {
  background-color: #05796b;
}

.plan2 h2,
.plan2 p,
.plan2 li {
  color: white;
}

.plan2 span {
  font-size: 1.6rem;
  color: white;
}

.plan2 ul {
  border-top: 1px solid rgba(255, 255, 255, 0.316);
}

.plan2 li::before {
  content: url(../img/plan-yes-white.svg);
  position: relative;
  top: 0.3vw;
  left: -1.5vw;
  margin: 0 -1.5rem;
}

.plan2 a {
  color: #282828;
  background-color: white;
  text-align: center;
  border-radius: 3rem;
  display: inline-block;
  width: 100%;
  padding: 1.5rem;
}

/* ! Section 7: Testimonials */
/* ? Überschriften */
.testimonials {
  margin-bottom: 10rem;
}

.testimonials h6,
.testimonials h2 {
  text-align: center;
}

.testimonials h6 {
  color: #3734a9;
}

.testimonials h2 {
  margin-bottom: 2rem;
}

/* ? Bild und Quote */
.testimonial1 {
  display: flex;
  gap: 5rem;
}

.quote {
  padding: 10rem 7rem 0 0;
}

.quote img {
  display: block;
  margin: 1rem 0;
}

.quote p {
  color: #1b1c31;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  line-height: 4rem;
}

.urheber {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  margin-top: 4rem;
}

.urheber p:nth-of-type(1) {
  color: black;
  font-size: clamp(1.6rem, 2vw, 2rem);
  line-height: 3rem;
}

.urheber p:nth-of-type(2) {
  color: #757095;
  font-size: 1.6rem;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 2.4rem;
  font-weight: 500;
}

/* ! Section 8: Discover */
.discover article {
  text-align: center;
  background-color: #05796b;
  border-radius: 1.6rem;
  padding: 10rem 0 0 0;
  margin: 0 10rem 10rem 10rem;

  position: relative;
}

.discover h2 {
  color: white;
  font-size: 5.5rem;
  line-height: 6rem;

  width: 60%;
  margin: 0 auto;

  margin-bottom: 4rem;
}

.discover img {
  position: absolute;
  top: 4vw;
  left: 7vw;
}

/* ! Footer */
footer {
  padding: 2rem 3rem 6rem 3rem;

  /* # gradient noch schön machen */
  background: radial-gradient(
    circle,
    rgba(73, 163, 248, 0.09) 5%,

    rgba(15, 209, 186, 0.09) 10%,
    white 30%
  );

  /* background: linear-gradient(
    166deg,
    rgba(15, 209, 186, 0.09) 10%,

    rgba(73, 163, 248, 0.09) 80%
  ); */
}

footer article {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

footer div {
  margin-bottom: 4rem;
}

footer h5 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #181433;
}

footer p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #757095;

  margin-bottom: 3rem;
}

footer a {
  color: black;
  font-size: 1.6rem;
  font-weight: lighter;
  display: block;
}

footer img {
  padding-right: 1rem;
  vertical-align: middle;
}

footer h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #181433;
  text-align: center;
}

/* # MEDIA QUERIES */
/* # Service-Kacheln ab 1050px zwespaltig */
@media only screen and (max-width: 1050px) {
  /* ! Section 3: Services */
  .services article {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* # Tablet / 768px */
@media only screen and (max-width: 768px) {
  .services h2,
  .download article,
  .plans-heading {
    width: 80%;
  }

  /* ! Section 1: Header */
  nav a {
    padding: 0 1rem;
  }

  /* ! Section 3: Services */
  .services article {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* ! Section 4: Learn More about Process */
  .bildeins img {
    margin-top: 0.5rem;
    transform: scale(2);
  }

  .bildeins h3 {
    margin-top: -5px;
  }

  .strich {
    display: none;
  }

  .process article {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ! Section 5: Download */
  .download section div {
    padding: 0;
  }

  .download section {
    margin: 0 2rem;
  }

  /* ! Section 6: Start today + Plans */
  .yes-green::before,
  .no::before,
  .plan2 li::before {
    top: 0.5vw;
    left: -3vw;
  }

  /* ! Section 7: Testimonials */
  .testimonial1 {
    gap: 2rem;
  }

  .quote {
    padding: 5rem 7rem 0 0;
  }

  /* ! Section 8: Discover */
  .discover article {
    padding: 10rem 0 0 0;
    margin: 0 6rem 10rem 6rem;
  }

  .discover h2 {
    width: 80%;
  }

  /* ! Section 9: Footer */
  footer article {
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer article div:first-of-type {
    grid-row: 1 / 3;
  }
}

/* # Mobile / 567px */
@media only screen and (max-width: 768px) {
  /* ! Section 1: Header */
  nav {
    display: none;
  }

  .burger {
    display: block;
  }
}
